/* .main{
    background-color: white ;
    text-align: center;
    height: auto;
          
}
.main>h1{

   color: black; 

}

 .texts{
  margin-top: 50px;
} 


.texts >p{
    padding-top: 10px;
    color: black;
    text-align: justify;
    
}  */