.btw{
    text-align: center;
    color: black;
}
.divv{
    background-color: white;
}

.images{
   width: 90%;
   justify-content: center;
   margin: auto;
}

.images>img{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    padding: 5px;
}

